@import url('https://fonts.googleapis.com/css?family=Poppins:wght @200;300,400,500,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f1f1f1;
}
::selection{
    color: #fff;
    background: #007bff;
}
.container{
    padding: 2rem 7rem;
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    border-radius: 14px;
}
.result_images{
    display: flex;
    column-gap: 7rem;
}

.container.start .user_result {
    transform-origin:left;
  animation: userShake 0.7s ease infinite;
}
@keyframes userShake {
    50%{
        transform: rotate(10deg);
    }
}
.container.start .cpu_result {
    transform-origin:right;
    animation: cpuShake 0.7s ease infinite;
  }
  @keyframes cpuShake {
      50%{
          transform: rotate(-10deg);
      }
  }

.result_images img{
    width: 50%;
    border-radius: 14px;    
    transition: transform 0.3s ease;
}

.user_result img{
    transform: rotate(90deg);
    
}
.cpu_result img{
    transform: rotate(-90deg) rotateY(180deg);
}

.result {
    text-align: center;
    font-size: 2rem;
    color: #7d2ae8;
    margin-top: 1.5rem;
}

.option_image img{
    width:50%;
    pointer-events: none;
}

.option_images{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    justify-content: space-between;
    opacity: 0.5;
    transition: opacity 0.3s    ease;
}
.option_images:hover{
    opacity: 1;
}
.option_images:active{
    opacity: 1;
}

.container.start .option_images{
    pointer-events: none;
}
.option_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
.option_image p {
    color: #7d2ae8;
    font-size: 1.235rem;
    margin-top: 1rem;
    pointer-events: none;
}
